@font-face {
  font-family: "SuncheonB";
  src: url("./assets/fonts/SuncheonB.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "SuncheonR";
  src: url("./assets/fonts/SuncheonR.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "GmarketSansBold";
  src: url("./assets/fonts/GmarketSansTTFBold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "GmarketSansMedium";
  src: url("./assets/fonts/GmarketSansTTFMedium.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "GmarketSansLight";
  src: url("./assets/fonts/GmarketSansTTFLight.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
* {
  font-family: "SuncheonR";
}

.App {
  /* font-family: "GmarketSansBold"; */
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.NavBar {
  font-family: "GmarketSansBold";
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.stream-container {
  padding: 0;
}

.fc .fc-col-header-cell-cushion {
  /* needs to be same precedence */
  padding-top: 5px; /* an override! */
  padding-bottom: 5px; /* an override! */
}

.commentlist::-webkit-scrollbar {
  display: none;
}

/* .react-datepicker__input-container ::before {
  content: "\e99c";
  display: inline-block;
  position: absolute;
  top: 7px;
  left: 7px;
} */

.react-datepicker__input-container input {
  display: block;
  width: 80%;
  height: 56px;
  font-size: 16px;
  border-radius: 4px;
  padding-left: 8px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 12px;
}
